<html>
<head>
  <title>TrailAr WB Hack</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  <script src="js/angular-chart.min.js"></script>
  <script src="js/angular-gauge.js"></script>
  <script src="js/wbhack.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/wbhack.css">
</head>

<body>
  <div ng-app="myApp">
    <div ng-controller="MainController">
      <div class="logo-wrap">
        <img class="logo" src="styles/trailAR-logo-gradient-small.png" alt="">
      </div>

      <!-- first row  -->
      <div class="container">
        <div class="row">
          <div class="col card">
            <p class="card-title">Impression</p>
            <p class="gauge-dates">September 1 - September 30</p>
            <ng-gauge class="gauge" size="180" type="arch" thick="5"
              min="0" max="100" value="80.3"
              cap="round" append="%"
              foreground-color="green" background-color="#EEE">
            </ng-gauge>

            <div class="gauge-previous">
              <p class="gauge-last-period">Last Period</p>
              <p class="gauge-last-percent">55%</p>
            </div>
          </div>

          <div class="col card" ng-mouseleave="showImpressionGeo = false">
            <p class="card-title">Impression</p>
            <div class="location-wrap">
              <p class="location-button" ng-click="showImpressionGeo = !showImpressionGeo">Top Cities</p>
              <div class="location-pop" ng-show="showImpressionGeo">
                <ul>
                  <li>1. Los Angeles (18%)</li>
                  <li>2. NYC (17%)</li>
                  <li>3. Chicago (13%)</li>
                  <li>4. Miami (12%)</li>
                  <li>5. San Francisco (10%)</li>
                  <li>6. Others (30%)</li>
                </ul>
              </div>
            </div>
            <canvas id="line"
              ng-class="{fade: showImpressionGeo}"
              class="chart chart-line"
              chart-data="impression.data"
              chart-labels="impression.labels"
              chart-series="impression.series"
              chart-options="impression.options"
              chart-dataset-override="impression.datasetOverride">
            </canvas>
          </div>

          <div class="col card" ng-mouseleave="showEngagementGeo = false">
            <p class="card-title">Engagement</p>
            <div class="location-wrap">
              <p class="location-button" ng-click="showEngagementGeo = !showEngagementGeo">Top Cities</p>
              <div class="location-pop" ng-show="showEngagementGeo">
                <ul>
                  <li>1. NYC (20%)</li>
                  <li>2. Chicago (15%)</li>
                  <li>2. Los Angeles (12%)</li>
                  <li>4. Miami (12%)</li>
                  <li>5. San Francisco (11%)</li>
                  <li>6. Others (40%)</li>
                </ul>
              </div>
            </div>
            <canvas id="line"
              ng-class="{fade: showEngagementGeo}"
              class="chart chart-line"
              chart-data="engagement.data"
              chart-labels="engagement.labels"
              chart-series="engagement.series"
              chart-options="engagement.options"
              chart-dataset-override="engagement.datasetOverride">
            </canvas>
          </div>
        </div>
      </div>

      <!-- second row -->
      <div class="container">
        <div class="row">
          <div class="col card">
            <p class="card-title">Chatter</p>
            <canvas id="line"
              class="chart chart-line"
              chart-data="chatter.data"
              chart-labels="chatter.labels"
              chart-series="chatter.series"
              chart-options="chatter.options"
              chart-dataset-override="chatter.datasetOverride">
            </canvas>
          </div>

          <div class="col card">
            <p class="card-title">Share Rate</p>
            <canvas id="line"
              class="chart chart-line"
              chart-data="shareRate.data"
              chart-labels="shareRate.labels"
              chart-series="shareRate.series"
              chart-options="shareRate.options"
              chart-dataset-override="shareRate.datasetOverride">
            </canvas>
          </div>

          <div class="col card">
            <p class="card-title">Conversions</p>
            <p class="gauge-dates">September 1 - September 30</p>
            <ng-gauge class="gauge" size="180" type="arch" thick="5"
              min="0" max="100" value="78.4"
              cap="round" append="%"
              foreground-color="green" background-color="#EEE">
            </ng-gauge>

            <div class="gauge-previous">
              <p class="gauge-last-period">Last Period</p>
              <p class="gauge-last-percent">53%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
